<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ATV_luana/src/Pacotes/Main.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Pacotes.Main"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="ATV_luana"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ATV_luana"/>
</launchConfiguration>
